<div class="container">
  <div>
    <form [formGroup]="form" (ngSubmit)="onSaveMasterCategory()">
      <mat-card>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Master Category Name"
            formControlName="name"
          />
        </mat-form-field>
        <button type="submit" mat-raised-button>Save</button>
      </mat-card>
    </form>
  </div>
  <div>
    <table>
      <tr>
        <th>Category Name</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let category of MasterCategories">
        <td>{{ category.name }}</td>
        <td>
          <button type="button" mat-stroked-button color="primary">EDIT</button>
          <button type="button" mat-stroked-button color="accent">
            DELETE
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
