<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSaveProduct()">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        class="form-control"
        formControlName="name"
      />
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input
        type="number"
        id="price"
        class="form-control"
        formControlName="price"
      />
    </div>
    <div>
      <input type="file" (change)="onImagePicked($event)" hidden #imagePicker />
      <button
        type="button"
        class="btn btn-primary"
        (click)="imagePicker.click()"
      >
        Main Image
      </button>
      <div class="image-preview">
        <img [src]="imagePreview" [alt]="form.value.name" />
      </div>
    </div>
  </form>
</div>
