<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-4" *ngFor="let product of products">
      <div class="card">
        <!-- Static path given for presentation purpose, will change once image upload properly implemented -->
        <img
          src="../../../assets/DSC_9336.JPG"
          alt="shani"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">
            <span class="Card-Text">Name: </span>{{ product.name }}
          </h5>
          <h5 class="card-title"><span>Price:</span> ${{ product.price }}</h5>
          <div class="row">
            <button href="#" mat-stroked-button color="primary">
              Add to Cart
            </button>
            <button href="#" mat-stroked-button color="primary">
              Add to favorite
            </button>
            <button href="#" mat-stroked-button color="primary">
              EDIT
            </button>
            <button href="#" mat-stroked-button color="accent">
              DELETE
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
